body {
	font-family: "Mozilla Headline", sans-serif; font-size: 50px; margin:80px; /* font-family: 'Gotu', sans-serif;  */
}
.work .referrals {
	border-radius: 20px;
	border-style: dashed;	
}
@media (prefers-color-scheme: dark) {
  /* Dark theme styles go here */
	body {
     		color: #eee;
               	background: #121212;
       	}  
        a {
        	color: #809fff;
        }
	.work {
		color: #03DAC6
	}
	.referrals {
		color: #FF073A
	}
}

@media (prefers-color-scheme: light) {
  /* Light theme styles go here */
}
